<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/comments.css"/>
    <title>Comments</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Comments</h1>
    <div class="scroll">
        {% for m in comment_list %}
        <div class="message-box">
            <div class="content">
            <h3>{{m.user}}</h3>
            <hr/>
            <p>{{m.time}}</p>
            <p>{{m.content}}</p>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <h2>Post your comment here!</h2>
    <form method="POST">
        {% if current_user.is_authenticated %}
        <input type="hidden" name="hidden" value={{current_user.name}}>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit"/>
        {% endif %}
    </form>
</body>
</html>