<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Music Theory Wiki</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% include 'header.html' %}
        <p>We are a 4 person team that really enjoy music and are making a wiki around this topic. So more people can learn more in depth about music.</p>
    </div>
</body>

</html>