<!DOCTYPE html>
<html>
    <head>
        <title>Signup Page</title>
    </head>
    <body>
        <div>
            {% include 'header.html' %}
            <h1>Sign Up</h1>
            <form method="post" action="/auth_signup">
                <input type="text" name="Name" placeholder="Your First Name" required="required"/><br/>
                <input type="text" name="Username" placeholder="Username" required="required"/><br/>
                <input type="password" name="Password" placeholder="Password" required="required"/><br/>
                <br/>
                {% if error %}
                    <p class='error'>{{error}}</p>
                {% endif %}
                <input type="submit" value="Sign Up"/>
            </form>

        </div>
    </body>

<html>