<!DOCTYPE html>
<head>
    <title>Upload Image</title>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
    <input type="file" id="img" name="upload" accept="image/*,.zip,.md" required="required">
    <br>
    {% if error %}
        <p class='error'>{{error}}</p>
    {% endif %}
        <input type="submit" value="Submit"/>
    </form>   
    
    
</body>
</html>